{% extends 'extends/iboxContent.html.twig' %}

{% block title %}Carrera index{% endblock %}

{% block contenidoIbox %}
    <h1>Carrera</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for carrera in carreras %}
            <tr>
                <td>{{ carrera.nombre }}</td>
                <td>
                    <a href="{{ path('app_carrera_show', {'id': carrera.id}) }}">show</a>
                    <a href="{{ path('app_carrera_edit', {'id': carrera.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cuatrimestre_index') }}">Cuatrimestres</a>

    <a href="{{ path('app_carrera_new') }}">Create new</a>
{% endblock %}
